{% extends 'blog/base.html' %}
{% block content %}
    <h1 class="mainh1">About Me</h1>
    <hr>
    <h4><br>My name is <em>Shaheer Rehman</em>. I got this idea to create a blogging website when I was just two years old. Although I had enough skills to develop this site at that time, I didn't have enough time because of all the other projects I was working on and because the world was not yet mature enough to understand the importance of this site. NOW THE TIME HAS COME FOR THE WORLD TO HAVE A TASTE OF MY BLOGGING WEBSITE :)</h4>
    <h4><br><em><strong>ENJOY YOUR TIME HERE. MI CASE ES SU CASA</strong></em></h4>
{% endblock %}}